# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore virtual environment
venv/
env/

# Ignore local settings
local_settings.py

# Ignore media files
media/

# Ignore database files
*.sqlite3

# Ignore Django migrations
*/migrations/*

# Ignore IDE and editor settings
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore log files
*.log

# Ignore node_modules if using Node.js
node_modules/